# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Naman Sharma\OneDrive - Imperial College London\Uni Studies\Year 1\Year 1 Programming\Java\Interview\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
